<%= form_with model: [ talk, Topic.new ], data: { turbo: false }, html: { autocomplete: "off", class: "bg-white my-shadow-lg p-8 mt-2 mb-16 flex flex-col w-full" } do |form| %>
  <h2 class="bg-white italic text-6xl lg:text-2xl font-bold mb-6">Add topic</h2>
  <div class="flex flex-row gap-4">
   <%= form.text_area :content, size: "20x2", class: "p-2 w-5/6 #{@topic&.errors&.any? ? "border-2 border-red border-solid" : "border-2 border-black border-dashed" }" %>
    <%= render "shared/error_message", attribute: :content, object: @topic %>
   <%= form.submit "ADD", class: "my-shadow w-1/6 font-bold text-white bg-green transition duration-200 ease-in-out transform hover:bg-green-dark active:bg-green-darker text-center text-xl cursor-pointer" %>
  </div>
<% end %>

