<div class="bg-sky-700 flex-col flex p-12 h-full mb-4 mt-4">
<a href="/" class="lg:-ml-16 lg:-mt-0 z-50 -ml-4 mt-4 italic bg-black w-12 h-12 lg:w-16 lg:h-16 text-yellow-50 text-3xl lg:text-5xl flex font-bold items-center justify-center">
<span>T</span>
</a>
  <div class="-mt-12 lg:-mt-16">
    <div class="frontpage-bg flex flex-col mx-8 h-full">
      <div class="bg-transparent lg:w-5/12 w-full flex flex-col mt-56">
        <div class="py-8 ml-8 pl-8 gap-4 flex flex-col mb-8 bg-sky-700">
          <h1 class="uppercase leading-tight text-5xl font-bold text-yellow-50 bg-sky-700">
            <p>Talk about</p>
            <p>what matters</p>
          </h1>
          <%= link_to "Create talk", new_talk_path , class: "lg:w-2/3 w-full uppercase text-center text-lg py-4 bg-yellow-50 focus:outline-none active:bg-gray-200 text-sky-700 font-bold", data: { turbo: false } %>
        </div>
      </div>
    </div>
  </div>
</div>


