<% if object&.errors&.include?(attribute) %>
  <div class="leading-none p-2 mt-1 text-lg font-bold italic text-white bg-red-700">
    <span><%= object.errors[attribute][0] %></span>
  </div>
<% end %>