<%= form_with model: talk, method: :patch, data: { turbo: false } do |form| %>
  <%= form.hidden_field :state, :value => state %>
  <%= button_tag class: "flex justify-center items-center transition duration-200 ease-in-out transform hover:bg-blue-dark active:bg-blue-darker bg-blue cursor-pointer text-white w-full" do %>
      <p class="uppercase text-lg font-medium py-2 px-4 text-center"><%= text %></p>
  <% end %>
<% end %>