<div class="flex justify-between items-center mt-4 bg-white text-black my-shadow-lg mb-8 text-xl font-bold p-4 px-4 uppercase">
  <p>You have 5 votes left</p>
  <div class="flex gap-2">
    <span class="material-icons-outlined text-3xl text-red">star_outline</span>
    <span class="material-icons-outlined text-3xl text-red">star</span>
    <span class="material-icons-outlined text-3xl text-red">star</span>
    <span class="material-icons-outlined text-3xl text-red">star</span>
    <span class="material-icons-outlined text-3xl text-red">star</span>
    <span class="material-icons-outlined text-3xl text-red">star</span>
  </div>
</div>