<div class="flex flex-row justify-between gap-12 mt-8">
  <div class="w-full">
    <h1 class="bg-sky-800 text-white text-5xl font-bold p-3 px-2 uppercase">Vote on the topics you want the group to discuss</h1>
    <%= render partial: "show" %>
    <%= render "talks/topics", talk: @talk, votable: true %>
  </div>
  <div>
    <%= render @talk %>
  </div>  
</div>